body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0097b2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0097b2;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.image-container {
  width: 90%;
  height: 1200px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.blogNavBar {
  overflow: hidden;
  background-color: #0097b2;
  text-align: center;
  width: 100%;
  float: none;
  position: absolute;
}

.blogNavBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.blogNavBar a:hover {
  background: #ddd;
  color: black;
}





/* Skill text boxes */
.slider-container {
  width: 720px;
  overflow: hidden;
  border: 3px solid #475569;
  background: #0097b2;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.skill-box {
  min-width: 240px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0097b2;
  border-right: 1px solid #334155;
  font-size: 22px;
  font-weight: bold;
}

.skill-box:last-child {
  border-right: none;
}


#body-resume {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: Arial, sans-serif;
  color: black;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}


.arrow {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.arrow::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: 3px solid #0f172a;
  border-right: 3px solid #0f172a;
  transform: rotate(45deg);
  transition: transform 0.15s ease;
}

/* LEFT arrow */
.arrow.left::before {
  transform: rotate(-135deg);
}

/* RIGHT arrow */
.arrow.right::before {
  transform: rotate(45deg);
}

/* Hover effect */
.arrow.left:hover::before {
  transform: rotate(-135deg) scale(1.15);
}

.arrow.right:hover::before {
  transform: rotate(45deg) scale(1.15);
}


/*Education and experience table*/
.Education-Experience-Table {
  background: white;
  font-family: Arial, sans-serif;
  color: black;
  width: 720px;
}

.Education-Experience-Table-Row {
  background: white;
  font-family: Arial, sans-serif;
  color: black;
}

.Education-Experience-Table-Col {
  background: white;
  font-family: Arial, sans-serif;
  color: black;
  width: 50%;
  border-right: 1px solid #334155;
}